<div class="home-main">
<% if user_signed_in? %>
  <div class="left_menu">
    <nav class = "main_list">
      <ul>
        <li><%= link_to "TDEE calculator", edit_user_body_metric_path(current_user.id,current_user.body_metric.id) %></li>
        <li><%= link_to "Food List", food_items_path %></li>
        <% if current_user.admin? %>
          <li><%= link_to "Workout Videos", new_workout_path %></li>
        <% else %>
          <li><%= link_to "Workout Videos", workouts_path %></li>
        <% end %>
        <li><%= link_to "Food Record",  new_user_food_record_path(current_user.id) %></li>
      </ul>
    </nav>
  </div>
  <p> Welcome <%= current_user.email %></p>
  <div class="home-calories">
    <p><b>Calories intake</b><br /> <%= @complete_food_record =  current_user.food_records.where(:intake_date => Date.today).sum(:calculated_calories) %></p>
  </div>
  <div class="home-calories">
    <% @body_metric = BodyMetric.find_by(user_id: current_user.id) %>
    <% if @body_metric.nil? %>
    <% else %>
      <p><b>Calories required</b><br /> <%= @req_calories = @body_metric.calories_required %></p>
    <% end %>
  </div>
  <br>
  <% @calc_width = @complete_food_record.to_f/@req_calories.to_f*100 %>
  <p> Progress</p>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="<%= @complete_food_record %>" aria-valuemin="0" aria-valuemax="<%= @req_calories %>" style="width:<%= @calc_width.to_f %>%;">
       <span><%= @calc_width.to_i %>% Complete</span>
    </div>
  </div>
  <%= link_to '<i class = "glyphicon glyphicon-plus"> Add Food Record</i>'.html_safe, new_user_food_record_path(current_user.id) %>
  <p>Check <%= link_to 'FoodList', food_items_path %> to eat something</p>
<%else%>
  <div class="home">
    <h1>Count Your Calories for a Healthier Lifestyle.</h1>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary sign" %>
  </div>
<% end %>
</div>
