<% if user_signed_in? %>
  <div class="left_menu">
    <nav class = "main_list">
      <ul>
        <li><%= link_to "TDEE calculator",new_user_body_metric_path(current_user.id) %></li>
        <li><%= link_to "Food List", food_items_path %></li>
        <li><%= link_to "Workout Videos",'#' %></li>
        <li><%= link_to "Food Record",  new_user_food_record_path(current_user.id) %></li>
        <ul>
    </nav>
  </div>
  <p> Signed in as <%= current_user.email %></p>
<% else %>
  <div class="home">
    <h1>Welome to Calories App</h1>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary sign" %>
  </div>
<% end %>
