<% if user_signed_in? %>
  <div class="left_menu">
    <nav class = "main_list">
      <ul>
        <li><%= link_to "TDEE calculator",new_user_body_metric_path(current_user.id) %></li>
        <li><%= link_to "Food List", food_items_path %></li>
        <% if current_user.admin? %>
          <li><%= link_to "Workout Videos", new_workout_path %></li>
        <% else %>
          <li><%= link_to "Workout Videos", workouts_path %></li>
        <% end %>
        <li><%= link_to "Food Record",  new_user_food_record_path(current_user.id) %></li>
      </ul>
    </nav>
  </div>
  <p> Welcome <%= current_user.email %></p>
  <%= FoodRecord.where(:intake_date => Date.today).sum(:calculated_calories) %>
  <%= BodyMetric.find_by(user_id: current_user.id).calories_required  %>
  <%= link_to '<i class = "glyphicon glyphicon-plus"></i>'.html_safe, new_user_food_record_path(current_user.id) %> <p>Add food record </p>
  <p>Check <%= link_to 'FoodList', food_items_path %> to eat something</p>
<% else %>
  <div class="home">
    <h1>Count Your Calories for a Healthier Lifestyle.</h1>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary sign" %>
  </div>
<% end %>
