%p You gained #{@food_record.calculated_calories} calories by consuming #{@food_record.item}
%h3 Todays Food Record
%table.table{:border => "1"}
  %tr
    %th Item
    %th Quantity
    %th Calories
    %th Edit
  - @food_list.each do |food_record|
    %tr
      %td= food_record.item
      %td= food_record.quantity
      %td= food_record.calculated_calories
      %td= link_to 'edit', edit_user_food_record_path(current_user.id,food_record.id)
