You gained <%= @food_record.calculated_calories %> calories by consuming <%= @food_record.item  %>
<h3>Todays Food Record</h3>
<table border='1'>
  <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Calories</th>
  </tr>
  <% @food_list.each do |food_record| %>
    <tr>
      <td><%= food_record.item %></td>
      <td><%= food_record.quantity %></td>
      <td><%= food_record.calculated_calories %></td>
    </tr>
  <% end %>
</table>
