.bg_food_list
  - if current_user.admin?
    = render 'new'
  - else
    %h1 Food Items list along with calories
  %table.table{:border => "1", :cellspacing => "50"}
    %tr
      %th Item
      %th Quantity
      %th Metrics
      %th
        Calories
    - @food_items_list.each do |food_item|
      %tr
        %td= food_item.item
        %td= food_item.quantity
        %td= food_item.metrics
        %td= food_item.calories
