<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for([current_user, @user_body_metric]) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :height %>
      <%= f.number_field :height,:placeholder => "in centi-meters", class: 'form-control' %>
      <%= f.label :weight %>
      <%= f.number_field :weight,:placeholder => "in kilo grams", class: 'form-control' %>
      <h4>Activity Level</h4>
      <%= f.radio_button :activity_level, '1.2' %>
      <%= f.label :activity_level, ' Sedentary' %>
      <br>
      <%= f.radio_button :activity_level, '1.375' %>
      <%= f.label :activity_level, 'Less Active' %>
      <br>
      <%= f.radio_button :activity_level, '1.55' %>
      <%= f.label :activity_level, 'Moderately Active' %>
      <br>
      <%= f.radio_button :activity_level, '1.725' %>
      <%= f.label :activity_level, 'Very Active' %>
      <br>
      <%= f.radio_button :activity_level, '1.9' %>
      <%= f.label :activity_level, 'Extremely Active' %>
      <br>
      <%= f.submit "Calculate TDEE" %>

    <% end %>
  </div>
</div>

