<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="header_container">
    <%= link_to "Calories", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Login", login_path %></li>
        <li><%= link_to "About", '#' %></li>
        <li><%= link_to "Contact Us",'#' %></li>
      </ul>
    </nav>
  </div>
  </header>

